@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-x: hidden;
}

body{
    background-color: #1d1d1d
}

.btn-inicio button{
    box-shadow: 2px 2px 20px #f4704043;
}

.image-side .poke{
    filter: drop-shadow(20px 10px 20px #f4704036);
}

.cards{
    filter: drop-shadow(0px 0px 8px #ffa17e4a);
}

.product{
    filter: drop-shadow(0px 0px 10px #272625b0);
}